<app-header></app-header>
<div class="container">
  <img src="assets/size chart.png">
  <div class="content">
    <h1>Виды постельных компкомплектов</h1>
    <ol>
      <li><span>полуторное постельное белье.</span> Размер такого варианта предназначен для односпальной кровати
        взрослого или подростка. Его можно использовать также, если семейная пара,
        спящая на одной кровати, предпочитает отдельные одеяла;</li>
      <li><span>двуспальное</span> используется для двуспальной кровати. Его размер достаточен и для двух людей,
        и для одного человека, предпочитающего сон на широком спальном месте;</li>
      <li><span>евро</span> - идеальный размер для тех, у кого постоянная проблема перетягивания одеяла друг на друга.
        Оно предназначено для кроватей, где спят двое, но имеет несколько увеличенную ширину и длину;</li>
      <li><span>семейный</span> вариант фактически представляет собой комплект двух полуторных одеял. Выбирая его, не нужно
        искать два одинаковых пододеяльника, если пара предпочитает спать на одной кровати, но каждый накрывается своим;</li>
      <li><span>детское</span> - в этом случае все зависит от возраста ребенка. Например, для новорожденного малыша размеры
        постельного белья будут такими: наволочка для подушки 40х60 см, простыня 105х170 или 120х180 см,
        а пододеяльник 100х140 см, 110х140см или 115х145 см. Для детей дошкольного и школьного возраста параметры несколько
        увеличены: наволочка 50х70см или 70х70см, простыня 150х215см, 160х220см, 160х210см. Пододеяльник тоже соответственно
        увеличен 143х215см, 150х210, 160х220 см.</li>
    </ol>
  </div>
  <img src="assets/img 11.png">
  <img src="assets/img 22.png">
  <img src="assets/img 33.png">
  <img src="assets/img 44.png">
</div>
<app-footer></app-footer>
