<div class="container">
  <div class="home">
    <a routerLink="/home">Главная</a>
  </div>
  <h1>aise</h1>
  <h2>Войдите для дальнейших заказов <br> через наш сайт</h2>
  <div class="login">
    <p>Войти</p>
    <!--  <form (ngSubmit)="login()">-->
    <form>
      <div class="form-group1">
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="username"
               required placeholder="Логин Пользователя">
      </div>
      <div class="form-group2">
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"
               required placeholder="Пароль">
      </div>
      <button (click)="login()" type="submit" class="btn btn-primary">Войти</button>
    </form>
    <a routerLink="/register">Регистрация</a>
  </div>
</div>
