<hr>
<div style="margin-top: 105px;" class="container">
    <div class="footer-links">
        <img src="../../../assets/image%201.png" width="44" height="44" alt="instagram">
        <img src="../../../assets/image%202.png" width="44" height="44" alt="telegram">
        <img src="../../../assets/image%203.png" width="44" height="44" alt="whatsapp">
        <img src="../../../assets/image%204.png" width="44" height="44" alt="facebook">
    </div>
    <p>© aise, Inc. 2024. Мы любим наших покупателей</p>
</div>
