<div class="container">
    <div class="rev-title">
        Отзывы
    </div>
    <div class="rev-body">
        <div class="rev-item">
            <div class="rev-item-up">
                <div class="rev-item-up-img">
                    <img src="https://www.svgrepo.com/show/118243/man.svg" alt="logo" width="55" style="border-radius: 65px;">
                </div>
                <div class="rev-item-up-title">
                    Aizhan Kalydova
                    <p style="font-size: 8px;">⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="rev-item-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nihil ipsa, modi laborum officia ratione! Debitis nostrum quo delectus eaque quod suscipit blanditiis nulla, voluptate placeat, veniam commodi recusandae! Ipsam aliquam tempora dolorum esse atque reiciendis repudiandae voluptate est necessitatibus.
            </div>
        </div>
        <div class="rev-item">
            <div class="rev-item-up">
                <div class="rev-item-up-img">
                    <img src="https://www.svgrepo.com/show/118243/man.svg" alt="logo" width="55" style="border-radius: 65px;">
                </div>
                <div class="rev-item-up-title">
                    Name
                </div>
            </div>
            <div class="rev-item-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nihil ipsa, modi laborum officia ratione! Debitis nostrum quo delectus eaque quod suscipit blanditiis nulla, voluptate placeat, veniam commodi recusandae! Ipsam aliquam tempora dolorum esse atque reiciendis repudiandae voluptate est necessitatibus.
            </div>
        </div>
        <div class="rev-item">
            <div class="rev-item-up">
                <div class="rev-item-up-img">
                    <img src="https://www.svgrepo.com/show/118243/man.svg" alt="logo" width="55" style="border-radius: 65px;">
                </div>
                <div class="rev-item-up-title">
                    Name
                </div>
            </div>
            <div class="rev-item-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nihil ipsa, modi laborum officia ratione! Debitis nostrum quo delectus eaque quod suscipit blanditiis nulla, voluptate placeat, veniam commodi recusandae! Ipsam aliquam tempora dolorum esse atque reiciendis repudiandae voluptate est necessitatibus.
            </div>
        </div>
        <div class="rev-item">
            <div class="rev-item-up">
                <div class="rev-item-up-img">
                    <img src="https://www.svgrepo.com/show/118243/man.svg" alt="logo" width="55" style="border-radius: 65px;">
                </div>
                <div class="rev-item-up-title">
                    Name
                </div>
            </div>
            <div class="rev-item-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nihil ipsa, modi laborum officia ratione! Debitis nostrum quo delectus eaque quod suscipit blanditiis nulla, voluptate placeat, veniam commodi recusandae! Ipsam aliquam tempora dolorum esse atque reiciendis repudiandae voluptate est necessitatibus.
            </div>
        </div>
        <div class="rev-item">
            <div class="rev-item-up">
                <div class="rev-item-up-img">
                    <img src="https://www.svgrepo.com/show/118243/man.svg" alt="logo" width="55" style="border-radius: 65px;">
                </div>
                <div class="rev-item-up-title">
                    Name
                </div>
            </div>
            <div class="rev-item-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nihil ipsa, modi laborum officia ratione! Debitis nostrum quo delectus eaque quod suscipit blanditiis nulla, voluptate placeat, veniam commodi recusandae! Ipsam aliquam tempora dolorum esse atque reiciendis repudiandae voluptate est necessitatibus.
            </div>
        </div>
        <div class="rev-item">
            <div class="rev-item-up">
                <div class="rev-item-up-img">
                    <img src="https://www.svgrepo.com/show/118243/man.svg" alt="logo" width="55" style="border-radius: 65px;">
                </div>
                <div class="rev-item-up-title">
                    Name
                </div>
            </div>
            <div class="rev-item-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nihil ipsa, modi laborum officia ratione! Debitis nostrum quo delectus eaque quod suscipit blanditiis nulla, voluptate placeat, veniam commodi recusandae! Ipsam aliquam tempora dolorum esse atque reiciendis repudiandae voluptate est necessitatibus.
            </div>
        </div>
    </div>
</div>
