<app-header></app-header>
<div class="head">
  <p>Наше сообщество 🫂</p>
</div>
<img src="assets/img 1.png">
<div class="container">
  <h1>О компании</h1>
  <div class="article">
    <p>Мы на рынке уже более 5 лет и готовы предоставить вам товары высочайшего качества.
      Мы стремимся стать номером 1 в нише постельного белья и текстиля. Благодаря дружной компании
      и спалвченного коллектива у нас удается обеспечить такое хорошое качество. Подробнее
      о наших тканях можете узнать перейдя по этой ссылке</p>
    <button routerLink="/home/size-chart">Подробнее</button>
  </div>
  <h1>Цели</h1>
  <div class="article-1">
    <img src="assets/target.svg" width="1100px">
    <div class="content">
      <div class="text">
        <p>Расширить</p>
        <p>клиентскую базу</p>
      </div>
      <div class="text">
        <p>Продвижение на</p>
        <p>маркетплейсах</p>
      </div>
      <div class="text">
        <p>Оффлайн магазины</p>
        <p>по всей стран</p>
      </div>
      <div class="text">
        <p>Выход на</p>
        <p>международный рынок</p>
      </div>
    </div>
  </div>

  <h1>Основатель</h1>
  <div class="article-2">
    <img src="assets/img author.png">
    <div class="text">
      <p>“Наша структура уникальна. Мы единственная крупная дизайн-студия, где владельцы бизнеса являются создателями
        работ и являются основным контактным лицом для каждого клиента. Это отражает нашу убежденность в том, что
        отличный дизайн невозможен без энтузиазма, интеллекта и прежде всего, личной приверженности, и подтверждается
        портфолио.”
      </p>
    </div>
  </div>
  <div class="author">
    <p>- Алан</p>
  </div>
</div>
<app-footer></app-footer>
